* {
    box-sizing: border-box;
}

html{
    background-image: url(https://img.fireden.net/v/image/1461/44/1461442220639.jpg);
    font-family: monospace;
    background-size:cover;
    
}

p {
    color: red;
    text-align: center;
    font-size: 30px;
}

.insertCoin{
    width:50%;
}

.questionAnswerForm {
    width: 100%;
}

fieldset{
    background-color: black;
}


.questionScoreDisplay {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
} 
.banner {
    font-family: monospace;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
}

li {
    display: inline-block;
    font-family: 'Press Start 2P', cursive; 
    font-size: 15px;
    margin: 10px 25px;
    color:white;


}

.submit, .nextButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#73ff00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	cursor:pointer;
	color:white;
	font-family: 'Press Start 2P', cursive;;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    display: block;
    margin-right: auto;
    margin-left: auto;
  
}

.submit {
	position:relative;
	top:1px;
}

.start {
    display:flex;
    align-content: space-around;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    font-family: monospace;
    color: rgb(115, 255, 0);
    font-size: 25px;
    
}

h3 {
    text-align: center;
    color:white;
}

.questionAnswerForm{
    display:none;
    margin-right: auto;
    margin-left: auto;
    
}

fieldset{
    width: 100%;
    margin: 0px;

}

.userFeedback{
    background-color:black;
}

.correct {
    font-family: 'VT323', monospace; 
}

.incorrect{
    font-family: 'VT323', monospace;
}

img{
    width: 40%%;
    justify-content: center;
    flex-direction: row;
    height: 150px;
    display: block;
    margin: auto;
    padding: 10px;
}

.elite{
    font-family: 'VT323', monospace;
    color:rgb(51, 199, 83);
}

/*medium!*/

@media only screen and (min-width:650px){
  
}




/*large!*/
@media only screen and (min-width: 992px){
    .questionAnswerForm {
        width: 60%;
    }

    .insertCoin{
        width: 20%;
    }
    
    img{
        height: 200px;
        width: 300px
    }

    p {
        font-size: 40px
    }

    li {
        font-size: 20px;
        text-align: center
    }
    
    h2{
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .elite {
        font-size: 60px
    }


}